/* CHỨNG CHỈ DOANH NGHIỆP
 FUNiX: WEB101x_2.1-A_VN Xây dựng website đầu tiên
 Assignment 03 - CV CÁ NHÂN
 Funix Id: truonghxFX09282
 Coder name: Hoang Xuan Truon */

/* CSS for tablet */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  section > .container {
    max-width: 992px;
    /* min-width: 768px; */
    padding: 20px 30px;
  }
  /* Navigation */
  .frame-avatar {
    display: none;
  }

  nav a:nth-child(2) {
    border-right: none;
  }

  /* ABOUT personal information */
  #target {
    padding: 24px 24px 24px 24px;
    font-size: 20px;
  }

  #personal-info {
    padding: 24px 32px;
    font-size: 20px;
    background-color: #f7f7f7;
  }

  /* About gird */
  #job-info .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* padding: 24px 0px; */
    gap: 32px;
  }

  /* HOBBY */
  .hobby-content {
    gap: 24px;
  }

  /* CERIFICATE */
  .certificate-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 40px;
  }
  .certificate-item {
    display: grid;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .vertical {
    position: absolute;
    width: 1px;
    background-color: #d6c08d;
    left: 50%;
    bottom: 55%;
    top: 0;
    margin-top: 0px;
    margin-bottom: 35px;
  }

  .horizontal {
    position: absolute;
    height: 1px;
    left: 0;
    right: 0px;
    top: 50%;
    background-color: #d6c08d;
  }
  /* Footer */
  #footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    gap: 30px;
  }

  #footer ul li i {
    font-size: 32px;
    color: #199cdb;
  }
}
